@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(232, 232, 242, 0.257);
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 33.333333%;

  min-width: 0;
  max-width: 100%;
}
@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 100%;

    min-width: 0;
    max-width: 100%;
  }
}
@media (max-width: 1000px) {
  .embla__slide {
    min-width: 0;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
