@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(232, 232, 242, 0.257);
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 33.333333%;

  min-width: 0;
  max-width: 100%;
}
@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 100%;

    min-width: 0;
    max-width: 100%;
  }
}
@media (max-width: 1000px) {
  .embla__slide {
    min-width: 0;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@keyframes translateY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.word-animated {
  display: inline-block;
  animation: translateY 1.5s ease-in-out infinite;
}
